<launch>
		
	<group ns="bbcontrol">
		<node pkg="bbcontrol" name="JoystickoneStickversion" type="JoystickoneStickversion" output="screen"/>
		<node pkg="joy" name="joy_node" type="joy_node" output="screen"/>
		<node pkg="bbcontrol" name="state_machine" type="state_machine" output="screen"/>
		<node pkg="bbcontrol" name="io_node" type="io_node" output="screen"/>
	</group>

	

</launch>
